.image-selector {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  margin: auto;
  gap: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.image-selector__thumbnail img {
  width: calc(70vw / 4 - 5px);
  border: none;
  margin: 7px;
  border-radius: 1rem;
}

.image-selector__thumbnail.selected img {
  border: 7px solid #c0844f;
  border-radius: 1rem;
  margin: 0;
  opacity: 50%;
}

h2 {
  text-align: center;
  padding: 0.5rem;
  font-size: 4vw;
}

@media (min-width: 900px) {
  h2 {
    text-align: center;
    padding: 0.5rem;
    font-size: 2vw;
  }
  .image-selector__thumbnail img {
    width: calc(70vw / 5 - 35px);
  }

  .image-selector__thumbnail.selected img {
    border: 10px solid #c0844f;
  }
}
