@import "../../constants.scss";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: $foreground-colour;
  background-color: $background-colour;
}

main {
  padding: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 1rem;
  }
}
