h2.rover-name {
  margin: auto;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

img.rover-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.rover-image {
  object-fit: cover;
  width: 48vw;
  height: 48vw;
}

.rover-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 0;
}

.rover-list-item {
  flex-grow: 1;
  align-self: end;
  position: relative;
  box-sizing: border-box;
}

@media (min-width: 600px) and (max-width: 899px) {
  .rover {
    width: calc(95% / 2);
    margin-top: 5rem;
  }
  .rover-image {
    width: 38vw;
    height: 38vw;
  }
}

@media (min-width: 900px) {
  .rover {
    width: calc(95% / 3);
  }
  .rover-image {
    width: 28vw;
    height: 28vw;
  }
}
