.rover-selector-list {
  position: absolute;
  right: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  list-style: none;
  padding-inline-start: 0;
}

.rover-selector-list-item {
  flex-grow: 1;
  align-self: end;
  position: relative;
  box-sizing: border-box;
  padding: 1px;
}
.rover-selector {
  height: 10vw;
  width: 100%;
  position: relative;

  img {
    width: 7vw;
    height: 7vw;
  }
  h2 {
    font-size: 10px;
  }
}

@media (min-width: 600px) {
  h2 {
    font-size: 15px;
  }
}
