@import "../../../constants.scss";

.neopage {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-upper-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-date {
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
          font-weight: 700;
          text-transform: uppercase;
        }

        input {
          border: none;
          border-radius: 0.6rem;
          padding: 0.3rem;
        }

        input[type="submit"] {
          background: $primary-colour;
          color: white;
          border: none;
          border-radius: 0.6rem;
          min-width: 5rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }

    &-info {
      border: 7px solid $primary-colour;
      border-radius: 1rem;
      padding: 1rem;

      h2 {
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: 1.5rem;
      }

      &-loader-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &-image-wrapper {
    border: 7px solid $primary-colour;
    border-radius: 1rem;
    overflow: hidden;

    img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 1000px) {
  .neopage {
    &-upper-section {
      display: flex;
      flex-direction: row;

      &-date {
        min-width: 20%;

        form {
          display: flex;
          flex-direction: column;

          align-items: flex-end;
          gap: 1rem;
        }
      }

      &-info {
        border: 7px solid $primary-colour;
        border-radius: 1rem;
        padding: 1rem;
        width: 80%;

        &-loader-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
